<div class='intro'>
	<h1 class='intro__hed'>{{doc.title}}</h1>
	<p class='intro__dek'>{{doc.dek}}</p>
	<div class='intro__line'>
		<p class='intro__byline'>By
			<a href='{{doc.author1URL}}' target='_blank'>
				<strong>{{doc.author1}}</strong>
			</a> & <a href='{{doc.author2URL}}' target='_blank'><strong>{{doc.author2}}</strong></a>
		</p>
		<p class='emoji'>🏀</p>
		<time class='intro__time'>{{doc.date}}</time>
	</div>

	{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<figure class='chart'>
		<div class='chart__meta'>
			<h4 class='chart__meta-title'>{{{doc.rankTitle}}}</h4>
			<p class='chart__meta-sub'>{{{doc.rankSub}}}</p>
		</div>
		<div class='chart__flow' data-filter='ranked'></div>
	</figure>

	<p class='prose'>{{{doc.top10}}}</p>

	<figure class='chart'>
		<div class='chart__meta'>
			<h4 class='chart__meta-title'>{{{doc.top10Title}}}</h4>
			<p class='chart__meta-sub'>{{{doc.top10Sub}}}</p>
		</div>
		<div class='chart__flow' data-filter='top10'></div>
	</figure>

	<p class='prose'>{{{doc.postTop10}}}</p>

	<figure class='chart'>
		<div class='chart__meta'>
			<h4 class='chart__meta-title'>{{{doc.skipTitle}}}</h4>
			<p class='chart__meta-sub'>{{{doc.skipSub}}}</p>
		</div>
		<div class='chart__flow' data-filter='skipCollege'></div>
	</figure>

	{{#each doc.postSkip}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<figure class='chart'>
		<div class='chart__meta'>
			<h4 class='chart__meta-title'>{{{doc.allTitle}}}</h4>
			<p class='chart__meta-sub'>{{{doc.allSub}}}</p>
		</div>
		<div class='chart__flow' data-filter='none'></div>
	</figure>

	<p class='prose'>{{{doc.postAll}}}</p>
	<p class='prose'>{{{doc.college}}}</p>

	<figure class='chart'>
    <div class='chart__meta'>
      <h4 class='chart__meta-title'>{{{doc.uncTitle}}}</h4>
      <p class='chart__meta-sub'>{{{doc.uncSub}}}</p>
    </div>
		<div class='chart__flow' data-filter='unc'></div>
	</figure>

  <figure class='chart'>
    <div class='chart__meta'>
      <h4 class='chart__meta-title'>{{{doc.ukTitle}}}</h4>
      <p class='chart__meta-sub'>{{{doc.ukSub}}}</p>
    </div>
    <div class='chart__flow' data-filter='uk'></div>
  </figure>

  <figure class='chart'>
    <div class='chart__meta'>
      <h4 class='chart__meta-title'>{{{doc.dukeTitle}}}</h4>
      <p class='chart__meta-sub'>{{{doc.dukeSub}}}</p>
    </div>
    <div class='chart__flow' data-filter='duke'></div>
  </figure>

  <figure class='chart'>
    <div class='chart__meta'>
      <h4 class='chart__meta-title'>{{{doc.kansasTitle}}}</h4>
      <p class='chart__meta-sub'>{{{doc.kansasSub}}}</p>
    </div>
    <div class='chart__flow' data-filter='kansas'></div>
  </figure>

</div>
